body {
  padding-top: 60px;
}

/* Adapted from http://jsfiddle.net/Fh47n/ */
.tree li {
    margin: 0px 0;
    list-style-type: none;
    position: relative;
    margin-left: -15px;
}

.tree li::before{
    content: '';
    position: absolute; 
    top: 0;
    width: 1px; 
    height: 100%;
    right: auto; 
    left: -20px;
    border-left: 1px solid #ccc;
    bottom: 50px;
}
.tree li::after{
    content: '';
    position: absolute; 
    top: 10px; 
    width: 20px; 
    height: 20px;
    right: auto; 
    left: -20px;
    border-top: 1px solid #ccc;
}
.tree li a{
    display: inline-block;
    /*border: 1px solid #ccc;*/
    padding: 2px 2px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 12px;
    cursor: pointer;
}

.tree li .active{
  color:#ff7373;
}

.tree li a.active:hover{
  color:#ff7373;
  text-decoration: none;
}

.tree li .glyphicon-folder-open, .glyphicon-folder-close{  
    cursor: pointer;
}

/*Remove connectors before root*/
.tree > ul > li::before, .tree > ul > li::after{
    border: 0;
}
/*Remove connectors after last child*/
.tree li:last-child::before{ 
      height: 10px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    text-decoration: underline;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}

div#sidebar{
  padding: 0px;
  border: 1px solid #ccc;
  background: #fff;
  position: fixed;
  top: 120px;
  left: 0px;
  bottom: 0px;
  width: 32%;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  cursor: default;
}

div#sidebar h1{ 
  font-size: 23px;
  line-height: 34px;
  
  border-bottom: 1px solid #ccc;
}

div#content{
  background-color: #eeeeee;
  padding: 5px;
  padding-bottom: 0px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  position: fixed;
  top: 120px;
  bottom:0px;
  margin-left: 32%;
  width:68%;
  -moz-box-shadow: inset 1px 1px 30px -10px #656565;
  -webkit-box-shadow: inset 1px 1px 30px -10px #656565;
  -o-box-shadow: inset 1px 1px 30px -10px #656565;
  box-shadow: inset 1px 1px 30px -10px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

div.content-full{
  width:100%!important;
  margin-left:0!important;
}

div#content table{
  background-color: #fff;
  margin-bottom: 5px;
}

div.scrollable {
  overflow: scroll;
  
  height: 100%;
}

div#first-load{
  text-align: center;
  font-size: 50pt;
  padding-top: 100px;
}

.breadcrumb{
  display:inline-block;
  background: transparent;
  padding: 0px;
  margin: 0px;
}

.breadcrumb li a{
  padding: 8px 8px;
  padding-bottom: 10px;
  background: #eee;
}

.breadcrumb li:first-child{
  padding-left: 6px;
}

.breadcrumb li:last-child{
  padding-right: 6px;
}

.breadcrumb li a{
  color: #aaa;
}

.navbar-inverse .navbar-brand{
  color: #fff;
}

.panel, .btn{
  border-radius: 0px;
}

.modal-content{
  border-radius: 0px;
}

.navbar{
  margin-bottom: 0px;
}

.alert{
  border-radius: 0px;
  border-left-width: 8px;
}

.btnbar{
  margin-top: 5px;
}

#property-search{
  position:absolute;
  top: 0px;
  background-color:#fff;
  padding: 10px 15px; 
  margin-bottom: 20px;
  margin-left:-5px;
  margin-right:-5px;
  border-bottom: 1px solid #ccc;
  z-index: 3000;
}

input{
  border-radius: 0px!important;
}

.input-group-addon:first-child{
  border-radius: 0px!important;
}

#property-content{
  margin-top: 45px;
  position:relative;
}

#sidebar legend{
  text-align:left;
  padding-left: 0px;
  padding-right: 5px;
  border:none;
}

#sidebar fieldset{
  border-left: 1px solid #ccc;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}

#new-workspace-panel{
  border-style: dotted!important;
  border-width: 2px;
  opacity: 0.7;
  margin-bottom: 18px;
}

#new-workspace-panel:hover{
  opacity: 1.0;
  border-color: #bce8f1;
}

#new-workspace-panel:hover .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

#new-repository-panel{
  border-style: dotted!important;
  border-width: 2px;
  opacity: 0.7;
  margin-bottom: 18px;
}

.navbar-default {
  background-color: #dd4814;
  border-color: #bf3e11;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #97310e;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ae3910;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #97310e;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #97310e;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #bf3e11;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ae3910;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #97310e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ae3910;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-default .navbar-link {
  color: #ffffff;
}

.navbar-default .navbar-link:hover {
  color: #ffffff;
}
