@import "bootstrap/mixins";
@import "compass/css3";

$scrollable-margin-top: 37px;

#content {
    @include make-sm-column(9);
    position: fixed;
    top: $navbar-height;
    right: 0;
    bottom: 50px;
    max-height: 100%;
    background-color: #ffffff;
    padding: 0;

    .scrollable {
        margin-top: $scrollable-margin-top;
        left: 0;
        right: 0;
    }
}
