@import 'compass/css3';

.drag {
    opacity: 0.5;

    &.node {
        background-color: inherit;
        color: $brand-primary;
    }

    background-color: $brand-primary!important;

    td {
        background-color: $brand-primary!important;
        > span {
            color: #000000;
        }
    }
}

.over {
    border-color: $brand-primary!important;
    color: $brand-primary!important;
    &.node {
        border: none;
        color: $brand-primary;
    }
}

ul.over {
    background-color: $brand-primary;
}
