@import 'compass/css3';
@import 'bootstrap';

.drag {
    opacity: 0.5;

    &.node {
        background-color: inherit;
        color: $brand-primary;
    }

    background-color: $brand-primary!important;

    td {
        background-color: $brand-primary!important;
        color: #ffffff;
    }
}

.over {
    border-color: $brand-primary;

    &.node {
        border: none;
        color: $brand-primary;
    }
}

ul.over {
    background-color: $brand-primary;
}

.trash {
    position: relative;
    border: 2px dotted #dddddd;
    background-color: #eeeeee;
    color: #dddddd;
    font-size: 30px;
    p {
        position: absolute;
        bottom: 0;
        font-size: 14pt;
        line-height: 30px;
        text-align: center;
        width: 100%;
    }

    &.trash-square {
        width: 150px;
        height: 150px;
        line-height: 150px;
        position: fixed;
        bottom: 5px;
        right: 5px;
        text-align: center;
    }

    &.trash-node {
        height: 50px;
        line-height: 50px;
        position: absolute;
        top: 3px;
        left: 2px;
        right: 2px;

        .glyphicon {
            margin-left: 20px;
            font-size: 18pt;
        }

        p {
            font-size: 14pt;
            text-align: center;
            width: 100%;
        }
    }
}