@import "compass/css3";

#search {
    margin-right: 20px;

    input.form-control {
        @include border-radius(0);
        width: 150px;

        &:hover, &:focus {
            width: 250px;
        }
    }

    .right-inner-addon {
        position: relative;
    }
    .right-inner-addon input {
        padding-right: 30px;
    }
    .right-inner-addon span.glyphicon {
        position: absolute;
        right: 0px;
        padding: 9px 12px;
        pointer-events: none;
    }
}

.navbar-nav > li > .dropdown-menu{
    @include border-radius(0);

    &>li {
        &>a {
            padding: 6px 20px;
        }
    }
}