@import "bootstrap/mixins";
@import "compass/css3";

#properties {
    z-index: 1;
    @extend .table;
    @extend .table-striped;
    @extend .table-hover;
    table-layout: fixed;

    border: 1px solid #dddddd;
    margin-bottom: $scrollable-margin-top;

    thead {
        tr {
            th:nth-child(2) {
                width: 25%;
            }

            th:nth-child(3) {
                width: 15%;
            }

            th:first-child {
                width: 30px;
            }
        }

        border-bottom: 2px solid #ddd;
    }

    tbody {
        overflow: auto;
    }

    tr {
        cursor: pointer;

        &:first-child td {
            border-top: none;
        };

        td:nth-child(2) {
            /* Name column */
            width: 20%;
            vertical-align: middle;
            text-align: right;
        }

        td:nth-child(4) {
            /* Type column */
            width: 10%;
            vertical-align: middle;
            text-align: right;
        }

        td:last-child {
            word-wrap: break-word;
            vertical-align: middle;
            word-break: break-word;
        }

        td:first-child {
            width: 30px;
            text-align: center;
            vertical-align: middle;
        }
    }

    table {
        table-layout: fixed;
        tr {
            th {
                height: 25px;
                padding: 0;
                font-size: 8pt;
                vertical-align: middle;
            }

            td:first-child {
                width: 20%;
                vertical-align: middle;
            }

            td {
                text-align: left!important;

                .glyphicon {
                    display: none;
                }

                &:hover {
                   .glyphicon {
                        display: inherit;
                    }
                }

                a:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

#properties-header {
    height: 37px;
    line-height: 37px;
    background-color: #eee;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    .btn.add-property {
        margin-top: 6px;
        padding: 2px 5px;
        position: absolute;
        right: 5px;
    }

    .breadcrumb {
        padding: 0;
        padding-left: 10px;
        font-size: 10pt;
        line-height: 37px;
        margin: 0;
        background-color: transparent;
        a {
            color: #000000;
        }
    }
}

.property-item .property-options .btn-group{
  visibility: hidden;
}

.property-item .property-options .btn-group a{
  color: #bbb;
}

.property-item .property-options .btn-group a:hover{
  color: #000;
  text-decoration: none;
}

.property-item:hover .property-options .btn-group{
  visibility: visible;
  display:block;
}

.property-input {
    min-height: 20px;
    min-width: 100px;
    display: inline-block;
    margin: 0;
}
