@import "bootstrap/mixins";
@import "compass/css3";

#properties {
    z-index: 1;
    @extend .table;
    @extend .table-striped;
    @extend .table-hover;
    table-layout: fixed;

    border: 1px solid #dddddd;
    margin-bottom: $scrollable-margin-top;

    thead {
        tr {
            th:nth-child(2) {
                width: 25%;
            }

            th:nth-child(3) {
                width: 15%;
            }

            th:first-child {
                width: 30px;
            }
        }

        border-bottom: 2px solid #ddd;
    }

    tbody {
        overflow: auto;
    }

    tr {
        cursor: pointer;

        &:first-child td {
            border-top: none;
        };

        td:nth-child(2) {
            width: 25%;
            vertical-align: middle;
        }

        td:nth-child(3) {
            width: 15%;
            vertical-align: middle;
        }

        td:last-child {
            word-wrap: break-word;
            vertical-align: middle;
        }

        td:first-child {
            width: 30px;
            text-align: center;
            vertical-align: middle;
        }
    }

    table {
        table-layout: fixed;
        tr {
            th:first-child {
                width: 20%;
                vertical-align: middle;
            }

            td:first-child {
                width: 20%;
                vertical-align: middle;
            }

            td {
                text-align: left!important;

                .glyphicon {
                    display: none;
                }

                &:hover {
                   .glyphicon {
                        display: inherit;
                    }
                }

                a:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

#properties-header {
    z-index: 2;
    @extend .table;
    @extend .table-striped;
    @extend .table-hover;
    table-layout: fixed;
    thead {
        tr {
            th {
                height: 52px;
                line-height: 50px;
                padding: 0 5px;
                font-size: 12pt;
            }

            th:nth-child(2) {
                width: 25%;
            }

            th:nth-child(3) {
                width: 15%;
            }

            th:first-child {
                width: 30px;
            }
        }
    }
    border: 1px solid #dddddd;
    margin: 0;
}

.property-item .property-options .btn-group{
  visibility: hidden;
}

.property-item .property-options .btn-group a{
  color: #bbb;
}

.property-item .property-options .btn-group a:hover{
  color: #000;
  text-decoration: none;
}

.property-item:hover .property-options .btn-group{
  visibility: visible;
  display:block;
}

.property-input {
    min-height: 20px;
    min-width: 100px;
    display: inline-block;
    margin: 0;
}