@import 'compass/css3';
@import 'bootstrap';

body {
  padding-top: $navbar-height + 10;
}

div.scrollable {
  overflow: scroll;
  height: 100%;
  position: absolute;
  top:0;

  &.padding {
    padding-top: 20px;
  }

  &.scrollable-tree {
    margin-top: 55px;
    width: 95%;
  }
}

.btn, .panel {
    @include border-radius(0!important);
}

table {
    thead {
        border-top: 1px solid #dee3ea;
        background-color: #eee;

        tr > th {
            border-bottom: none!important;
        }
    }

    tbody {
        tr:first-child td {
            border-top: none;
        }
    }
}

a {
    cursor: pointer;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
  text-align: center;
  padding-top: 300px;
  font-size: 60pt;
  color: rgba(0,0,0,0.5);
}