/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$brand-primary: lighten(#2c3742, 20%);

$font-family-base: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$body-bg: rgb(247, 247, 247);

$navbar-default-bg: #2c3742;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 5%);
$navbar-default-link-hover-color: #ffffff;
$navbar-default-link-active-color: #ffffff;

$icon-font-path: '/bower_components/bootstrap/dist/fonts/';

@import "compass/reset";
@import "bootstrap";
@import "./scaffolding.scss";
@import "./sidebar.scss";
@import "./tree.scss";
@import "./content.scss";