$brand-primary: lighten(#dd4814, 20%);

$font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$body-bg: #ecf0f1;

$navbar-height: 40px;
$navbar-default-bg: #e74c3c;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 5%);
$navbar-default-link-hover-color: #ffffff;
$navbar-default-link-active-color: #ffffff;
$navbar-default-toggle-hover-bg: #fff;
$navbar-default-toggle-icon-bar-bg: #fff;
$icon-font-path: '/assets/bower_components/bootstrap/dist/fonts/';

$brand-primary: $navbar-default-bg;

$content-toolbar-height: 37px;
$dropper-height: 50px;

$state-success-text:             #fff;
$state-success-bg:               #27ae60;

$state-info-text:                #fff;
$state-info-bg:                  #3498db;

$state-warning-text:             #fff;
$state-warning-bg:               #e67e22;

$state-danger-text:              #fff;
$state-danger-bg:                #c0392b;
