@import 'compass/css3';

.scrollable {
  overflow: scroll;
  height: 100%;
  position: absolute;
  top:0;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
  text-align: center;
  padding-top: 300px;
  font-size: 60pt;
  color: rgba(0,0,0,0.5);
}

.dropper {
    border: 2px dotted #bbb;
    color: #bbb;
    font-size: 30px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    height: 50px;
    line-height: 50px;
    position: fixed!important;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #eee;

     .glyphicon {
        line-height: 50px;
        top: none;
    }
}