.input-ghost, .input-ghost:focus {
  border: none;
  height: 100%;
  box-shadow: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.node-create-form {
  display: inline-block;
  input {
    background-color: darken($body-bg, 10%);
    box-shadow: none;
    border: none;
    padding: 0 5px;
    height: 30px;
  }
}

.property-input {
  min-height: 20px;
  min-width: 100px;
  display: inline-block;
  margin: 0;
}

.property-form {
  position: fixed;
  top: 77px;
  z-index: 999;
}
