@import "compass/css3";

#search {
  margin-right: 0px;
  padding: 0;
  @extend .hidden-xs;

  input.form-control {
    @include border-radius(0);
    width: 150px;

    @media (min-width: 992px) {
      &:hover, &:focus {
        width: 250px;
      }
    }
  }

  .right-inner-addon {
    position: relative;
  }
  .right-inner-addon input {
    padding-right: 30px;
  }
  .right-inner-addon span.glyphicon {
    position: absolute;
    right: 0px;
    padding: 9px 12px;
    pointer-events: none;
  }
}

.navbar-nav > li > a {
  line-height: 21px;
}

.navbar-nav > li > .dropdown-menu{
  @include border-radius(0);

  &>li {
    &>a {
      padding: 6px 20px;
    }
  }
}

.navbar-toggle:focus, .navbar-toggle:hover {
  .icon-bar {
    background-color: $navbar-default-bg;
  }
}

.navbar-toggle {
  border: none;
}

@media (max-width: 767px) {
  .dropdown-header {
    color: $navbar-default-link-color;
  }
}

.tree-toggle {
  float: left;
  padding: 10px 15px;
  line-height: 20px;
  height: $navbar-height;
  color: $navbar-default-link-color;
  font-size: 13pt;
  &:hover {
    background-color: $navbar-default-link-hover-bg;
    color: $navbar-default-link-hover-color;
  }

  &.active {
    background-color: $navbar-default-link-hover-bg;
    color: $navbar-default-link-hover-color;
  }
}

