@import 'compass/css3';

.panel {
  /**
   * Panel Box are used on the repository/workspace list
   */
  &.panel-box {
    cursor: pointer!important;
    @extend .panel-default;
    border-top: 3px solid #f18a66;

    &:hover {
      @extend .panel-primary;
      .mega-octicon {
        color: #f18a66;
        opacity: 0.7;
      }
    }

    .panel-body {
      position: relative;
      text-align: left;
      margin: auto;
      p.lead {
        margin-bottom: 10px;
      }

      .mega-octicon {
        opacity: 0.1;
        float: right;
      }
    }

    &.new {
      opacity: 0.4;

      .panel-body {
        background-color: transparent;
      }

      &:hover, &.focused {
        opacity: 1.0;
      }
    }
  }
}
