@import 'compass/css3';

.panel {
  /**
   * Panel Box are used on the repository/workspace list
   */
  &.panel-box {
    cursor: pointer!important;
    @extend .panel-default;

    &:hover {
      @extend .panel-primary;
    }

    &.repository {
      height: 110px;

      .panel-body {
        height: 90px;
        overflow: auto;
      }
    }

    &.workspace {
      height: 80px;

      .panel-body {
        height: 60px;
        overflow: auto;
      }
    }

    .panel-heading {
      height: 20px;
      text-align: center;
      font-size: 10pt;
      padding: 1px;
    }

    .panel-body {
      position: relative;
      text-align: center;
      margin: auto;
      p.lead {
        margin: 0;
      }
    }

    .panel-footer {
      padding: 0!important;
    }

    &.new {
      opacity: 0.7;
      border-style: dotted;
      border-width: 2px;
      padding-top: 9px;
      padding-bottom: 9px;
      min-height: 80px;
      line-height: 80px;
      .panel-body {
          padding: 0px 7px;
      }
    }
  }
}
