@import "bootstrap/mixins";
@import "compass/css3";

#properties {
  z-index: 1;
  @extend .table;
  @extend .table-striped;
  @extend .table-hover;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-left: none;
  margin-bottom: $content-toolbar-height + $dropper-height;
  margin-top: $content-toolbar-height;

  thead {
    tr {
      th:nth-child(2) {
        width: 25%;
      }

      th:nth-child(3) {
        width: 15%;
      }

      th:first-child {
        width: 30px;
      }
    }

    border-bottom: 2px solid #ddd;
  }

  tbody {
    overflow: auto;
  }

  tr {
    cursor: pointer;

    &:first-child td {
      border-top: none;
    }

    td:nth-child(2) {
      /* Name column */
      width: 20%;
      vertical-align: middle;
      text-align: right;
      font-size: 10pt;
    }

    td:nth-child(3) {
      font-size: 10pt;
    }

    td:nth-child(4) {
      /* Type column */
      width: 12%;
      vertical-align: middle;
      text-align: center;
    }

    td:last-child {
      word-wrap: break-word;
      vertical-align: middle;
      word-break: break-word;
    }

    td:first-child {
      width: 30px;
      text-align: center;
      vertical-align: middle;
      font-size: 12px;
      .glyphicon {
        visibility: hidden;
      }
    }

    &:hover {
      td:first-child {
        .glyphicon {
          visibility: visible;
        }
      }
    }
  }

  table {
    table-layout: fixed;
    tr {
      th {
        height: 25px;
        padding: 0;
        font-size: 8pt;
        vertical-align: middle;
      }

      td:first-child {
        width: 20%;
        vertical-align: middle;
      }

      td {
        text-align: left!important;

        .glyphicon {
          display: none;
        }

        &:hover {
         .glyphicon {
            display: inherit;
          }
        }

        a:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@include table-row-variant('property-form', #ddd);

#properties-header {
  height: $content-toolbar-height;
  line-height: $content-toolbar-height;
  background-color: #eee;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 999;

  .breadcrumb {
    position: fixed;
    padding: 0;
    padding-left: 10px;
    font-size: 10pt;
    line-height: $content-toolbar-height;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;

    a {
      color: #000000;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .toolbar {
    margin-top: -2px;
    position: fixed;
    right: 10px;
    .btn {
      padding: 2px 10px;
    }

    .btn.validate {
      margin-top: 12px;
      padding: 4px 10px;
      padding-top: 3px;
    }
  }
}

.property-item .property-options .btn-group{
  visibility: hidden;
}

.property-item .property-options .btn-group a{
  color: #bbb;
}

.property-item .property-options .btn-group a:hover{
  color: #000;
  text-decoration: none;
}

.property-item:hover .property-options .btn-group{
  visibility: visible;
  display:block;
}
