@import 'compass/css3';
@import "bootstrap/mixins";

body {
  padding-top: $navbar-height;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans-Regular.ttf) format('woff');
}

.btn, .panel, input.form-control {
    @include border-radius(0!important);
}

a {
    cursor: pointer;
}

@media (min-width: 768px) {
  #sidebar {
    @include make-sm-column(4);
    @include make-md-column(3);
    @include make-lg-column(3);
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    top: $navbar-height;
    left: 0;
    bottom: 50px;
    z-index: 1000;
    border-right: 1px solid #ddd;
    padding-top: 5px;
  }
}


@media (max-width: 767px) {
  #sidebar {
    width: 300px;
    display: none;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    top: $navbar-height;
    left: 0;
    bottom: 50px;
    z-index: 1000;
    border-right: 1px solid #ddd;
    padding-top: 5px;
    background-color: $body-bg;
    padding-left: 5px;

    &.active {
      display: block;
    }
  }
}

#content {
  @include make-sm-column(8);
  @include make-md-column(9);
  @include make-lg-column(9);
  @include make-sm-column-offset(4);
  @include make-md-column-offset(3);
  @include make-lg-column-offset(3);
  overflow-x: hidden;
  overflow-y: auto;
  right: 0;
  max-height: 100%;
  background-color: transparent;
  padding: 0;
  height: 100%;
}

.container-padding-top {
  padding-top: 10px;
}

.table-striped {
  > tbody > tr:nth-child(even) {
    > td,
    > th {
      background-color: $table-bg-accent;
    }
  }

  > tbody > tr:nth-child(odd) {
    > td,
    > th {
      background-color: #fff;
    }
  }
}
