#tree {
    /* Adapted from http://jsfiddle.net/Fh47n/ */
    ul {
        padding-left: 40px;

        li {
            margin: 0px 0;
            list-style-type: none;
            position: relative;
            margin-left: -15px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                width: 1px;
                height: 100%;
                right: auto;
                left: -20px;
                border-left: 1px solid #ccc;
                bottom: 50px;
            }

            /* Horizontal line on the left of each node */
            &::after {
                content: '';
                position: absolute;
                top: 10px;
                width: 20px;
                height: 20px;
                right: auto;
                left: -20px;
                border-top: 1px solid #ccc;
            }

            &.active > a {
                color:#ff7373;
            }

            a {
                display: inline-block;
                /*border: 1px solid #ccc;*/
                padding: 2px 2px;
                text-decoration: none;
                color: #666;
                font-size: 13px;
                cursor: pointer;

                &.active:hover{
                    color:#ff7373;
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: underline;

                    &+ul li a {
                        text-decoration: underline;
                    }
                }

                &:hover+ul {
                    li::after, &::before, ul::before {
                        border-color:  #94a0b4;
                    }
                }
            }

            .glyphicon-folder-open, .glyphicon-folder-close {
                cursor: pointer;
                width: 15px;
            }
        }
    }
}

.node {
    .node-add {
        font-size: 6pt;
        visibility: hidden;
        cursor: pointer;

        &.focus {
            visibility: visible;
        }
    }

        &:hover {
            .node-add {
                visibility: visible;
            }
        }

    .active {
        color: $brand-primary!important;
    }
}
