{% raw %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>phpcr browser</title>
        <link rel="shortcut icon" href="/favicon.ico?v=2" />
        <!-- Bootstrap core CSS -->
        <link href="/assets/bower_components/AngularJS-Toaster/toaster.css" rel="stylesheet">
        <link href="/assets/bower_components/angular-xeditable/dist/css/xeditable.css"></link>
        <link href="/assets/css/screen.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
          <script src="/bower_components/respond/dest/respond.min.js"></script>
        <![endif]-->
        <script data-main="/assets/js/app" src="/assets/bower_components/requirejs/require.js"></script>
    </head>

    <body>
        <div ui-view></div>
    </body>
</html>
{% endraw %}
