{% raw %}
<!DOCTYPE html>
<html ng-app="browserApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>phpcr browser</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- Bootstrap core CSS -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/bower_components/AngularJS-Toaster/toaster.css" rel="stylesheet">
    <link href="/bower_components/angular-xeditable/dist/css/xeditable.css"></link>
    <link href="/assets/css/screen.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="/bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

  </head>

  <body ng-controller="mbFrontCtrl">
    <mb-overlay text="Loading..." show-on="_browser.load" hide-on="_browser.loaded"></mb-overlay>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="mbNavbarCtrl">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">
         phpcr-browser
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li mb-navbar-item mb-link="menu.repositories" ng-class="menu.repositories.class"></li>
          <li mb-navbar-item mb-link="menu.repository" ng-class="menu.repository.class"></li>
          <li mb-navbar-item mb-link="menu.workspace" ng-class="menu.workspace.class"></li>
        </ul>
        <form class="navbar-form navbar-right" id="search" role="search">
          <div class="form-group right-inner-addon">
            <glyphicon icon="search"></glyphicon>
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
          </div>
        </form>
      </div><!--/.nav-collapse -->
    </div>

    <toaster-container toaster-options="{'position-class': 'toast-top-right'}"> </toaster-container>
    <div ui-view autoscroll="false" class="container-fluid"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-ui-utils/keypress.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/restangular/dist/restangular.min.js"></script>
    <script src="/bower_components/talker/talker-0.1.0.min.js"></script>
    <script src="/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>

    <script src="/assets/js/browser/app.js"></script>
    <script src="/assets/js/browser/services/recursion-helper.js"></script>
    <script src="/assets/js/browser/services/api-foundation.js"></script>
    <script src="/assets/js/browser/services/repository-factory.js"></script>
    <script src="/assets/js/browser/services/workspace-factory.js"></script>
    <script src="/assets/js/browser/services/node-factory.js"></script>
    <script src="/assets/js/browser/services/menu.js"></script>
    <script src="/assets/js/browser/services/route-parameters-converter.js"></script>
    <script src="/assets/js/browser/services/object-mapper.js"></script>
    <script src="/assets/js/browser/services/tree-view.js"></script>
    <script src="/assets/js/browser/services/json-patch.js"></script>
    <script src="/assets/js/browser/services/smart-property.js"></script>
    <script src="/assets/js/browser/services/event-bridge.js"></script>
    <script src="/assets/js/browser/directives/navbar-item.js"></script>
    <script src="/assets/js/browser/directives/tree-node.js"></script>
    <script src="/assets/js/browser/directives/tree.js"></script>
    <script src="/assets/js/browser/directives/property-value.js"></script>
    <script src="/assets/js/browser/directives/draggable.js"></script>
    <script src="/assets/js/browser/directives/droppable.js"></script>
    <script src="/assets/js/browser/directives/focus-me.js"></script>
    <script src="/assets/js/browser/directives/ui/glyphicon.js"></script>
    <script src="/assets/js/browser/directives/ui/font-awesome.js"></script>
    <script src="/assets/js/browser/directives/ui/scrollable.js"></script>
    <script src="/assets/js/browser/directives/ui/overlay.js"></script>
    <script src="/assets/js/browser/directives/ui/repository.js"></script>
    <script src="/assets/js/browser/directives/ui/dropper.js"></script>
    <script src="/assets/js/browser/filters/jaro–winkler.js"></script>
    <script src="/assets/js/browser/controllers/front.js"></script>
    <script src="/assets/js/browser/controllers/navbar.js"></script>
    <script src="/assets/js/browser/controllers/repositories.js"></script>
    <script src="/assets/js/browser/controllers/repository.js"></script>
    <script src="/assets/js/browser/controllers/workspace.js"></script>
    <script src="/assets/js/browser/controllers/properties.js"></script>
  </body>
</html>
{% endraw %}
