{% extends 'layout.twig.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li>
					 <span class="glyphicon glyphicon-map-marker"></span>
					 <a href="{{ path('browser.repositories') }}">Home</a>
				</li>
			  	<li>
			  		<a href="{{ path('browser.workspaces', { 'repository': repository } ) }}">{{ repository }}</a>
			  	</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<h1 class="text-center">{{ repository }}</h1>
		<hr/>
		{% for workspace in workspaces %}
		<div class="col-lg-3">
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<span class="glyphicon glyphicon-briefcase"></span> Workspace
			  </div>
			  <div class="panel-body">
			    <p class="lead text-center">
			    	{{ workspace.name }}
			    </p>
			  </div>
			  <div class="panel-footer">
			  	<a href="{{ path('browser.rootNode', { 'repository': repository, 'workspace': workspace.name } ) }}" class="btn btn-primary btn-block">		
			  		<span class="glyphicon glyphicon-log-in"></span> Open
			  	</a>
			  </div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
