<table id="properties">
  <tbody>
    <tr ng-show="displayCreateForm" class="property-form">
      <td></td>
      <td>
        <input type="text" ng-model="newProperty.name" mb-focus-me="displayCreateForm" class="form-control" placeholder="{{ 'NODE_ADD_PROPERTY_NAME_PROMPT' | translate }}" ui-keypress="keyBinding.createForm.keypress" ui-keydown="keyBinding.createForm.keydown">
      </td>
      <td>
        <input type="text" ng-model="newProperty.value" class="form-control" placeholder="{{ 'NODE_ADD_PROPERTY_VALUE_PROMPT' | translate }}" ui-keypress="keyBinding.createForm.keypress" ui-keydown="keyBinding.createForm.keydown">
      </td>
      <td>
        <select ng-model="newProperty.type" class="form-control" ng-options="type.name for type in types">
          <option value="">{{ 'NODE_ADD_PROPERTY_TYPE_PROMPT' | translate }}</option>
        </select>
      </td>
    </tr>
    <tr ng-show="backup !== null" class="warning">
      <td></td>
      <td colspan="3" style="text-align:left;">
        {{ 'NODE_RESTORE_PROPERTY_PROMPT' | translate:backup }} <a ng-click="restoreProperty()" id="restore">{{ 'YES' | translate }}</a> <a ng-click="backup=null">{{ 'NO' | translate }}</a>
      </td>
    </tr>
    <tr class="property-item" ng-repeat="property in properties | mbPropertiesSorter | mbJaroWinkler:search" id="{{ property.name }}" draggable="supportsPropertyDelete" data-name="{{ property.name }}">
      <td><span class="fa fa-bars" title="{{ 'NODE_DRAG_PROPERTY_PROMPT' | translate }}"></span></td>
      <td>
        <span class="text-primary">{{ property.name }}</span>
      </td>
      <td mb-property-value mb-property="property" mb-create="createProperty" mb-update="updateProperty" mb-delete="deleteProperty"></td>
      <td>
        <small><span title="Property type" editable-select="property.type" buttons="no" e-style="margin-top: 5px;" e-ng-options="type.name for type in types" onbeforesave="updatePropertyType(property.name, $data.value)">{{ typeLabel(property.type) }}</span></small>
      </td>
    </tr>
  </tbody>
</table>
