#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $toolbar-height;
    line-height: $toolbar-height;

    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    z-index: 200;

    .breadcrumb {
        display: inline-block;
        padding: 0;
        margin: 0 30px 0 15px;
        overflow: auto;
        height: $toolbar-height;
        background-color: transparent;
        font-size: 13px;
        white-space: nowrap;
        padding-right: 35px;
    }

    .btn-group {
        position: fixed;
        right: 0;
        height: $toolbar-height;
        background-color: #f5f5f5;
        border-bottom: 1px solid #ccc;
        z-index: 999;

        .btn {
            height: 100%;
            background-color: transparent;
            border: none;
            @include box-shadow(none);

            &:focus {
                @include box-shadow(none);
            }
        }

        &.open {
            .btn {
                @include box-shadow(none);
            }
        }
    }

    .icon {
        width: 40px;
        padding-left: 15px!important;
    }

    div[class^="col-xs-"] {
        padding-left: 0;
        padding-right: 10px;
    }

    .row {
        margin: 0;
        height: 100%;

        div[class^="col-"] {
            height: 100%;
        }
    }

    form {
        display: inline-block;
        padding: 6px 0;
        height: 100%;

        .btn-group {
            margin-top: -6px;
        }

        select {
            height: $toolbar-height - 10px;
            margin: 0;
            @include box-shadow(none);
            @include border-radius(0);
        }

        .form-group {
            position: relative;
            width: 100%;
            height: 100%;

            .form-control-feedback {
                top: 8px;
            }
        }

        input {
            height: $toolbar-height - 10px;
            margin: 0;
            @include box-shadow(none);

            &.form-control {
                width: 100%;
            }
        }
    }
}
