<span data-ng-class="node.selected" class="glyphicon glyphicon-refresh" data-ng-show="node._data_loading"></span>
<span data-ng-class="node.selected" class="glyphicon glyphicon-folder-close" data-ng-show="node.hasChildren && node.collapsed && !node._data_loading" data-ng-click="collapse(node)"></span>
<span data-ng-class="node.selected" class="glyphicon glyphicon-folder-open" data-ng-show="node.hasChildren && !node.collapsed && !node._data_loading" data-ng-click="collapse(node)"></span>
<span data-ng-class="node.selected" class="glyphicon glyphicon-file" data-ng-hide="node.hasChildren || node._data_loading" data-ng-click=""></span>
<a data-ng-class="node.selected" href="{{ baseUrl+repository+'/'+workspace + node.path }}" data-ng-bind="node.name" data-ng-click="collapse(node, true)"></a>
<ul class="tree" ng-if="node.hasChildren && !node.collapsed">
  <li data-ng-repeat="node in node.children | orderBy:'name'" tree-node></li>
</ul>
