@import "_variables.scss";

.ns-node {
    & > .inner {
        @include make-row(0); /* make a row without padding */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        @import "component/_toolbar.scss";
        @import "component/_properties-list.scss";
    }
}
