<div ng-controller="mbWorkspaceCtrl">
  <div id="sidebar">
      <mb-scrollable class="scrollable-tree">
        <mb-tree mb-current-node="currentNode"></mb-tree>
      </mb-scrollable>
    </div>
  <div id="content" ng-controller="mbPropertiesCtrl">
    <table id="properties-header">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Type</th>
              <th>
                Value
                <a class="pull-right" style="margin-right: 10px;" ng-click="toggleCreateForm()">
                  <i class="fa fa-plus" ng-show="!displayCreateForm"></i>
                  <i class="fa fa-minus" ng-show="displayCreateForm"></i>
                  Add property
                </a>
              </th>
            </tr>
          </thead>
      </table>
      <mb-scrollable class="scrollable-properties">
        <table id="properties">
          <tbody>
            <tr ng-show="displayCreateForm" class="info">
              <td></td>
              <td>
                <input type="text" ng-model="name" mb-focus-me="displayCreateForm" class="form-control" placeholder="Enter a name" ui-keypress="{ enter: 'createProperty(name, value, type.value)' }" ui-keydown="{ esc: 'toggleCreateForm()' }">
              </td>
              <td>
                <select ng-model="type" class="form-control" ng-options="type.name for type in types">
                  <option value="">Type</option>
                </select>
              </td>
              <td>
                <input type="text" ng-model="value" class="form-control" placeholder="Enter a value" ui-keypress="{ enter: 'createProperty(name, value, type.value)' }" ui-keydown="{ esc: 'toggleCreateForm()' }">
              </td>
            </tr>
            <tr ng-show="backup !== null" class="warning">
              <td></td>
              <td>
                Do you want to restore {{ backup.name }} ?
              </td>
              <td></td>
              <td><a ng-click="restoreProperty()" id="restore">Yes</a> <a ng-click="backup=null">No</a></td>
            </tr>
            </tr>
            <tr class="property-item" data-ng-repeat="property in properties | mbJaroWinkler:search" id="{{ property.name }}" draggable="{{ currentNode.getWorkspace().getRepository().supports('node.property.delete') }}" data-name="{{ property.name }}">
              <td><span class="fa fa-bars" title="Drag me to delete me"></span></td>
              <td>{{ property.name }}</td>
              <td><span title="Property type" editable-select="property.type" buttons="no" e-style="margin-top: 5px;" e-ng-options="type.name for type in types" onbeforesave="updatePropertyType(property.name, $data.value)" class="label label-info">{{ typeLabel(property.type) }}</span></td>
              <td mb-property-value></td>
            </tr>
          </tbody>
        </table>
    </mb-scrollable>
    <mb-dropper drop="delete"></mb-dropper>
</div>