<div ng-controller="mbWorkspaceCtrl">
  <div id="sidebar">
      <div class="scrollable scrollable-tree">
        <mb-tree mb-current-node="currentNode"></mb-tree>
      </mb-scrollable>
    </div>
  <div id="content" ng-controller="mbPropertiesCtrl">
      <div id ="properties-header">
        <div class="col-sm-10">
          <ol class="breadcrumb">
            <li>
              <a href="#/{{ currentNode.getWorkspace().getRepository().getName() }}/{{ currentNode.getWorkspace().getName() }}">
                root
              </a>
            </li>
            <li
              ng-repeat="(key, n) in breadcrumb track by $index"
              ng-if="n.length > 0">
              <a href="#/{{ currentNode.getWorkspace().getRepository().getName() }}/{{ currentNode.getWorkspace().getName() }}{{ currentNode.getPath().split('/').slice(0, key + 2).join('/') }}">
                {{ n }}
              </a>
            </li>
          </ol>
        </div>
        <div class="col-sm-2">
          <div class="toolbar text-right">
            <a class="btn btn-primary btn-sm" ng-show="!displayCreateForm" ng-class="{ active: displayCreateForm }" ng-click="toggleCreateForm()">
              <span class="glyphicon glyphicon-plus"></span>
              Add property
            </a>
            <a class="btn btn-default btn-sm validate" ng-click="toggleCreateForm()" ng-show="displayCreateForm">
              <span class="glyphicon glyphicon-remove"></span> Cancel
            </a>
            <a class="btn btn-primary btn-sm validate" ng-click="createProperty(name, value, type.value)" ng-show="displayCreateForm">
              <span class="glyphicon glyphicon-ok"></span> Save
            </a>
          </div>
        </div>
      </div>
      <div class="scrollable">
        <table id="properties">
          <tbody>
            <tr ng-show="displayCreateForm" class="property-form">
              <td></td>
              <td>
                <input type="text" ng-model="name" mb-focus-me="displayCreateForm" class="form-control" placeholder="Enter a name" ui-keypress="{ enter: 'createProperty(name, value, type.value)' }" ui-keydown="{ esc: 'toggleCreateForm()' }">
              </td>
              <td>
                <input type="text" ng-model="value" class="form-control" placeholder="Enter a value" ui-keypress="{ enter: 'createProperty(name, value, type.value)' }" ui-keydown="{ esc: 'toggleCreateForm()' }">
              </td>
              <td>
                <select ng-model="type" class="form-control" ng-options="type.name for type in types">
                  <option value="">Type</option>
                </select>
              </td>
            </tr>
            <tr ng-show="backup !== null" class="warning">
              <td></td>
              <td colspan="3" style="text-align:left;">
                Do you want to restore {{ backup.name }} ? <a ng-click="restoreProperty()" id="restore">Yes</a> <a ng-click="backup=null">No</a>
              </td>
            </tr>
            </tr>
            <tr class="property-item" data-ng-repeat="property in properties | mbPropertiesSorter | mbJaroWinkler:search" id="{{ property.name }}" draggable="{{ currentNode.getWorkspace().getRepository().supports('node.property.delete') }}" data-name="{{ property.name }}">
              <td><span class="fa fa-bars" title="Drag me to delete me"></span></td>
              <td>
                <span class="text-primary">{{ property.name }}</span>
              </td>
              <td mb-property-value></td>
              <td>
                <small><span title="Property type" editable-select="property.type" buttons="no" e-style="margin-top: 5px;" e-ng-options="type.name for type in types" onbeforesave="updatePropertyType(property.name, $data.value)">{{ typeLabel(property.type) }}</span></small>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <mb-dropper drop="delete"></mb-dropper>
</div>
