#content {
    @include make-sm-column(8);
    @include make-md-column(9);
    @include make-lg-column(9);

    position: absolute;
    top: 0;
    bottom: 50px;
    right: 0;



    overflow: auto;
}
