<div id="properties-header">
    <div class="col-sm-10">
      <ol class="breadcrumb">
        <li>
          <a href="#/{{ currentNode.getWorkspace().getRepository().getName() }}/{{ currentNode.getWorkspace().getName() }}">
             {{ 'TREE_ROOT_NODE_NAME' | translate }}
          </a>
        </li>
        <li
          ng-repeat="(key, n) in breadcrumb track by $index"
          ng-if="n.length > 0">
          <a href="#/{{ currentNode.getWorkspace().getRepository().getName() }}/{{ currentNode.getWorkspace().getName() }}{{ currentNode.getPath().split('/').slice(0, key + 2).join('/') }}">
            {{ n }}
          </a>
        </li>
      </ol>
    </div>
    <div class="col-sm-2">
      <div class="toolbar text-right">
        <a class="btn btn-primary btn-sm" ng-show="!displayCreateForm" ng-class="{ active: displayCreateForm }" ng-click="toggleCreateForm()">
          <span class="glyphicon glyphicon-plus"></span>
          {{ 'NODE_ADD_PROPERTY_BUTTON' | translate }}
        </a>
        <a class="btn btn-default btn-sm validate" ng-click="toggleCreateForm()" ng-show="displayCreateForm">
          <span class="glyphicon glyphicon-remove"></span>  {{ 'NODE_ADD_PROPERTY_CANCEL_BUTTON' | translate }}
        </a>
        <a class="btn btn-primary btn-sm validate" ng-click="createProperty(newProperty.name, newProperty.value, newProperty.type.value)" ng-show="displayCreateForm">
          <span class="glyphicon glyphicon-ok"></span> {{ 'NODE_ADD_PROPERTY_SAVE_BUTTON' | translate }}
        </a>
      </div>
    </div>
</div>
<table id="properties">
  <tbody>
    <tr ng-show="displayCreateForm" class="property-form">
      <td></td>
      <td>
        <input type="text" ng-model="newProperty.name" mb-focus-me="displayCreateForm" class="form-control" placeholder="{{ 'NODE_ADD_PROPERTY_NAME_PROMPT' | translate }}" ui-keypress="keyBinding.createForm.keypress" ui-keydown="keyBinding.createForm.keydown">
      </td>
      <td>
        <input type="text" ng-model="newProperty.value" class="form-control" placeholder="{{ 'NODE_ADD_PROPERTY_VALUE_PROMPT' | translate }}" ui-keypress="keyBinding.createForm.keypress" ui-keydown="keyBinding.createForm.keydown">
      </td>
      <td>
        <select ng-model="newProperty.type" class="form-control" ng-options="type.name for type in types">
          <option value="">{{ 'NODE_ADD_PROPERTY_TYPE_PROMPT' | translate }}</option>
        </select>
      </td>
    </tr>
    <tr ng-show="backup !== null" class="warning">
      <td></td>
      <td colspan="3" style="text-align:left;">
        {{ 'NODE_RESTORE_PROPERTY_PROMPT' | translate:backup }} <a ng-click="restoreProperty()" id="restore">{{ 'YES' | translate }}</a> <a ng-click="backup=null">{{ 'NO' | translate }}</a>
      </td>
    </tr>
    <tr class="property-item" ng-repeat="property in properties | mbPropertiesSorter | mbJaroWinkler:search" id="{{ property.name }}" draggable="supportsPropertyDelete" data-name="{{ property.name }}">
      <td><span class="fa fa-bars" title="{{ 'NODE_DRAG_PROPERTY_PROMPT' | translate }}"></span></td>
      <td>
        <span class="text-primary">{{ property.name }}</span>
      </td>
      <td mb-property-value mb-property="property" mb-create="createProperty" mb-update="updateProperty" mb-delete="deleteProperty"></td>
      <td>
        <small><span title="Property type" editable-select="property.type" buttons="no" e-style="margin-top: 5px;" e-ng-options="type.name for type in types" onbeforesave="updatePropertyType(property.name, $data.value)">{{ typeLabel(property.type) }}</span></small>
      </td>
    </tr>
  </tbody>
</table>
