<span ng-if="!isObject(property.value) && property.parentName && property.type !== 10" editable-text="property.value" onbeforesave="updateProperty(property.parentName, $data, property.path)" e-style="width:100%" buttons="no" class="property-input"> {{ property.value }}</span>

<span ng-show="!isObject(property.value) && !property.parentName && property.type !== 10" editable-text="property.value" onbeforesave="updateProperty(property.name, $data, property.path)" e-style="width:100%" buttons="no" class="property-input"> {{ property.value }}</span>

<span ng-if="!isObject(property.value) && property.parentName && property.type === 10">
    <a href="#/{{ currentNode.getWorkspace().getRepository().getName() }}/{{ currentNode.getWorkspace().getName() }}{{ property.value }}">{{ property.value }}</a>
</span>

<span ng-if="!isObject(property.value) && !property.parentName && property.type === 10">
    <a href="#/{{ currentNode.getWorkspace().getRepository().getName() }}/{{ currentNode.getWorkspace().getName() }}{{ property.value }}">{{ property.value }}</a>
</span>

<a class="text-danger pull-right" ng-if="property.parentName" ng-click="deleteProperty(property.parentName, property.path)"><span class="glyphicon glyphicon-trash"></span></a>
<table class="table table-bordered table-striped table-hover" ng-if="isObject(property.value) && property.value.length > 0">
    <thead>
        <th colspan="2">
            <a class="pull-right" style="margin-right: 10px;" ng-click="displaySubCreateForm = !displaySubCreateForm">
              <span class="glyphicon glyphicon-plus" ng-show="!displaySubCreateForm"></span>
              <span class="glyphicon glyphicon-minus" ng-show="displaySubCreateForm"></span>
            </a>
        </th>
    </thead>
    <tbody>
        <tr ng-show="displaySubCreateForm">
            <td>
                <input type="text" ng-model="name" class="form-control" placeholder="{{ 'NODE_ADD_PROPERTY_NAME_PROMPT' | translate }}" ui-keypress="{ enter: 'createProperty(name, value, type.value)' }" ui-keydown="{ esc: 'displaySubCreateForm = !displaySubCreateForm' }">
            </td>
            <td>
                <input type="text" ng-model="value" class="form-control" placeholder="{{ 'NODE_ADD_PROPERTY_VALUE_PROMPT' | translate }}" ui-keypress="{ enter: 'createProperty(name, value, property.parentName || property.name, property.path)' }" ui-keydown="{ esc: 'displaySubCreateForm = !displaySubCreateForm' }">
            </td>
        </tr>
        <tr ng-repeat="property in property.value track by $index | orderBy:'name'" class="property-item">
          <td>{{ property.name }}</td>
          <td mb-property-value mb-property="property" mb-create="createProperty" mb-update="updateProperty" mb-delete="deleteProperty"></td>
        </tr>
    </tbody>
</table>
