<span ng-class="node.selected" class="glyphicon glyphicon-refresh" ng-show="node.updateInProgress"></span>
<span ng-class="node.selected" class="glyphicon glyphicon-folder-close" ng-show="node.hasChildren && node.collapsed && !node.updateInProgress" ng-click="toggleCollapsed(node)"></span>
<span ng-class="node.selected" class="glyphicon glyphicon-folder-open" ng-show="node.hasChildren && !node.collapsed && !node.updateInProgress" ng-click="toggleCollapsed(node)"></span>
<span ng-class="node.selected" class="glyphicon glyphicon-file" ng-hide="node.hasChildren || node.updateInProgress" ng-click=""></span>
<a ng-class="node.selected" ng-href="#/{{ container.repository.getName() }}/{{ container.workspace.getName() + node.path }}" ng-bind="node.name" ng-click="toggleCollapsed(node)" id="{{ node.path }}"></a>
<ul class="tree" ng-if="node.hasChildren && !node.collapsed">
  <li ng-repeat="node in node.children | orderBy:'name'" mb-tree-node></li>
</ul>
