<div class="ns-node">
    <div class="inner">
        <div id="toolbar">
            <div class="btn-group" ng-if="!nodeController.$pending">
                <button type="button" class="btn" ghost-text=".title" ng-if="node.path !== '/'" ng-click="nodeController.showNodeRenameForm()">
                    <span class="octicon octicon-pencil"></span>
                    <span class="title">{{ 'Rename node' | translate }}</span>
                </button>
                <button type="button" class="btn" ghost-text=".title">
                    <span class="octicon octicon-plus"></span>
                    <span class="title">{{ 'Add property' | translate }}</span>
                </button>
            </div>
            <ol class="breadcrumb" ng-if="!nodeController.$pending">
                <li>
                    <a href="#/{{ node.getWorkspace().getRepository().name }}/{{ node.getWorkspace().name }}">
                        {{ 'TREE_ROOT_NODE_NAME' | translate }}
                    </a>
                </li>
                <li
                  ng-repeat="(key, n) in node.path.split('/') track by $index"
                  ng-if="n.length > 0">
                    <a  ui-sref="node({ repository: node.getWorkspace().getRepository().name, workspace: node.getWorkspace().name, path: node.path.split('/').slice(0, key + 1).join('/') })"
                        ng-if="node.path.split('/').slice(0, key + 1).join('/') !== node.path">
                        {{ n }}
                    </a>
                    <span class="active" ng-if="node.path.split('/').slice(0, key + 1).join('/') === node.path">
                        {{ n }}
                    </span>
                </li>
            </ol>
            <div ng-if="nodeRenameFormDisplayed">
                <span class="icon octicon octicon-pencil"></span>
                <form ng-submit="nodeController.renameNode()">
                    <input type="text" class="form-control input-full-width" placeholder="{{ 'Name of the node' | translate }}"
                        ng-model="nodeRenameForm.name"
                        ng-blur="nodeController.hideNodeRenameForm()"
                        focus
                        ui-keydown="{esc: 'nodeController.hideNodeRenameForm()'}"
                    />
                </form>
            </div>
        </div>
        <div id="properties-list">
            <table id="properties">
                <tbody>
                    <tr class="property-item" ng-repeat="property in properties" draggable="true" id="property.name">
                        <td>
                            <span class="octicon octicon-three-bars" title="{{ 'NODE_DRAG_PROPERTY_PROMPT' | translate }}"></span>
                        </td>
                        <td>
                            <span class="text-primary">{{ property.name }}</span>
                        </td>
                        <td>{{ property.value }}</td>
                        <td>
                            <small>{{ property.type }}</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
